{% extends 'base/base.html' %}
{% block title %}{{ object.name  }}
{% endblock title %}

{% block content %}

  <div class="container mt-3">
    <a href="{% url 'products:index' %}" class="btn btn-secondary rounded-pill">
      <i class="bi bi-arrow-left-short"></i>
      Back to all products</a>
    <div class="card my-3">
      <div class="row g-2">
        <div class="col-md-4">
          <img src="{{ object.image.url }}" class="img-fluid rounded-start" alt="item-image" style="padding: 10px;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ object.name }}</h5>
            <p class="card-text">Quantity:
              {{object.quantity}}</p>
            <p class="card-text">
              <small class="text-muted">Added by:
                {{ object.added_by }}</small>
            </p>
            {% if request.user == object.added_by %}
              <a href="{% url 'products:edit' object.id %}" class="btn btn-success rounded-pill">
                <i class="bi bi-pencil-square"></i>
                Edit</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}